[submodule "duckdb"]
	path = duckdb
	url = https://github.com/kaoyagi-ncgm/duckdb.git
	branch = fix-csv-encoder-loop
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main